@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dFont: 'Raleway', sans-serif, monospace;
    --kBlack: #1E1E1E;
    --greenText: #4F772D;
    --grayText: rgb(30, 30, 30);
    --activeItem: #1E1E1E;
    --inactiveItem: #1E1E1E4D;
    --mtb30: 3rem 0;
    --bg: #E5E5E5;
}


* {
    font-variant-numeric: tabular-nums !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dFont);
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}


@media (max-width: 767px) {
    h1, h2 {
        font-size: 24px !important;
        text-transform: uppercase;
        font-weight: 700;
        /*text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);*/
    }

    .gray-satur {
        width: 8px;
        filter: brightness(0) saturate(100%);
    }

    .m0 {
        margin-bottom: 0 !important;
    }

    .maps-ref {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .section {
        padding: 1.5rem 0;
        margin-bottom: 10px;
        background-color: #fff;
    }

    a {
        text-decoration: none;
        color: black;
    }

    body {
        line-height: 1.5;
        letter-spacing: 0.1em;
        background: var(--bg);

        button, a, p {
            font-size: 12px !important;
        }
    }

    .numbers {
        font-variant-numeric: tabular-nums;
        font-family: "Poppins" !important;
        font-weight: 300;
    }

    body {
        display: none;
    }

    .text-center {
        text-align: center;
    }

    .f-c-c {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        font-weight: 700;
        font-size: 12px;
    }

    .gr-image {
        filter: brightness(0) saturate(100%) invert(31%) sepia(52%) saturate(446%) hue-rotate(45deg);
        width: 20px;
    }

    .nav-elements.active {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        transition: 0.2s ease-in-out;
    }

    nav {
        padding: 0.5rem 0 !important;

        .container {
            flex-direction: row !important;
            justify-content: space-between !important;

            p {
                color: black !important;
            }

            .menu-toggle {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 18px;
                    height: 12px;
                }
            }

            .logo, .menu-toggle {

                filter: brightness(0);
            }
        }
    }

    .desc {
        width: 100%;
        height: 140px;
        background: url("assets/title.jpg");
        opacity: 0.8;
        background-position: 50% 50%;

        .h-text-area{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(79, 119, 45, 0.5);
        }

        h1 {
            text-align: center;
            color: #fff;
        }
    }

    .call {
        a {
            * {
                margin: 0.5rem 0;
            }
        }
    }

    .mail {
        padding: 3rem 0;

        a {
            img {
                width: 8px;
                filter: brightness(0) saturate(100%);
            }
        }
    }

    .menu-head {
        width: 100%;
        padding: 0.5rem 5% !important;
    }

    .open-time {
        p {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }
    }

    .location {
        padding-top: 2.5rem;
        padding-bottom: 0;
    }

    .how-to-get {
        margin-bottom: 0;
        padding-bottom: 0;

        .get-before {
            text-align: justify !important;
            position: relative;
        }

        .get-before:first-of-type::before {
            content: '1.';
            position: absolute;
            top: 0;
            left: -10px;
        }

        .get-before:last-child::before {
            content: '2.';
            position: absolute;
            top: 0;
            left: -10px;
        }

        .way-to-go {
            margin: 1.5rem auto 0;
            width: 100%;
            /*aspect-ratio: 1 / 1;*/
            object-fit: contain;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .socials {
        h2 {
            font-weight: 700;
            text-align: center;
            margin: 1.5rem 0;
        }

        .contact-cards {
            display: flex;
            /*flex-direction: row !important;*/
            gap: 10px;

            .cc {
                position: relative;
                display: flex;
                /*flex-direction: column;*/
                aspect-ratio: 1 / 1;
                width: 50%;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                text-decoration: none;

                .a-bg-i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                }

                .text-content {
                    font-weight: 700;
                    padding: 0 2rem;
                    text-transform: uppercase;
                    color: #fff;
                    z-index: 2;

                    img {
                        width: 40px;
                        aspect-ratio: 1 / 1;
                        margin-bottom: 0.75rem;
                    }
                }
            }

            .cc::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(79, 119, 45, 0.6);
                z-index: 1;
            }
        }

    }

    footer {
        width: 100%;

        * {
            color: black;
        }

        img {
            filter: brightness(0) saturate(100%);
        }

        .footer-link {
            color: var(--grayText) !important;

            a {
                text-decoration: none;

                span {
                    opacity: 0.5;
                }
            }
        }

        .footer-logo {
            display: flex;
            gap: 5px;
            width: 30%;
            margin: 2rem auto 1rem;
            justify-content: center;
            align-items: center;

            img {
                width: 17px;
            }

            p {
                font-weight: 900;
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        .footer-links {
            width: 90%;
            /*padding: 2rem;*/
            margin: 2rem auto 0;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 15px;
            border-bottom: 1px solid gray;
            padding-bottom: 2rem;

            img {
                width: 20px;
            }
        }

        .copyright {
            text-align: center;
            margin: 1rem auto;
        }
    }

    .copy-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .nav-footer-container {
        width: 90%;
        margin: auto;
        padding: 1rem;
    }

    .nf-address {
        display: flex;
        gap: 10px;
        color: white;
        align-items: center;
    }

    #maps-ref {
        width: 100%;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .lang-block {
        display: flex;
        width: 90%;
        margin: 0 auto;
        gap: 10px;

        .lang {
            width: 48.5%;
            padding: 20px 0;
            color: rgba(255, 255, 255, 0.3);
            text-align: center;
        }
    }

    .image-container {
        width: 100%;
        object-fit: contain;

        img {
            width: 100%;
        }
    }

    .l-links {
        border: none;
    }

    .footer-link {
        color: var(--grayText) !important;

        a {
            text-decoration: none;

            span {
                opacity: 0.5;
            }
        }
    }

}

@media (min-width: 768px) {
    body {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        display: block;
    }
}
